.ipynb_checkpoints/
Reference.ipynb
test.csv
curviz.ipynb
creds.txt
testcurrent.csv
testwind.csv


dev_notebooks/rob/creds/iotauth.txt
dev_notebooks/rob/creds/ooiauth.txt
dev_notebooks/rob/creds/s3auth.txt
